In [1]:
import pandas as pd

In [2]:
df_full_1 = pd.read_csv('full_scrape_1.csv')

In [3]:
df_full_1.head()

,Comment Text,Author,Subreddit,Post ID
0,"Just curious, but what triggered your feelings...",PDXorax,YangForPresidentHQ,ew5ohva
1,Christmas time put up a light-up Yang sign!,PDXorax,YangForPresidentHQ,ew5o8vv
2,"During the general election, get in contact wi...",PDXorax,YangForPresidentHQ,ew42bdx
3,"We need to understand as a country, that the m...",PDXorax,YangForPresidentHQ,evva7l8
4,"Part of the reason for this, is because we nee...",PDXorax,YangForPresidentHQ,evoo179

In [4]:
df_full_2 = pd.read_csv('full_scrape_2.csv')

In [5]:
df_full_2.head()

,Comment Text,Author,Subreddit,Post ID
0,guy they already signed signed again for maxim...,thatpj,SCJerk,ewqjim7
1,Braun busting out new moves?,thatpj,WredditCountryClub,ewqg84e
2,BAH GAWD! Get these hands!,thatpj,WredditCountryClub,ewqg70z
3,RICOCHET! Main event that man!,thatpj,WredditCountryClub,ewqg3q0
4,A noun. A verb. LOLBLISSWINS.,thatpj,WredditCountryClub,ewqekde

In [6]:
df_full_1.shape

(1024524, 4)

In [7]:
df_full_2.shape

(1156518, 4)

In [8]:
df = pd.concat([df_full_1,df_full_2],axis=0)

In [9]:
df.shape

(2181042, 4)

In [11]:
df.drop_duplicates(subset='Post ID',inplace=True)

In [12]:
df.shape

(1808142, 4)

In [13]:
df.to_csv('combined_scrape.csv',index=False)