In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('warren_scrape.csv')

In [3]:
df.shape

(248985, 4)

In [4]:
df.head()

,Comment Text,Author,Subreddit,Post ID
0,She is trash and done in my book. End of.,secret_someones,Enough_Sanders_Spam,exg39m0
1,"That is true, I definitely do not want to go t...",secret_someones,Enough_Sanders_Spam,exf4w29
2,"It's not a conspiracy, all I am saying is a ph...",secret_someones,Enough_Sanders_Spam,exf26kl
3,Its not even guaranteed that he was there to s...,secret_someones,Enough_Sanders_Spam,exew632
4,This is about the Root and not where she stand...,secret_someones,ElizabethWarren,excudhm

In [5]:
df.dtypes

Comment Text    object
Author          object
Subreddit       object
Post ID         object
dtype: object

In [6]:
sum_series = df.groupby(['Author','Subreddit']).size()

In [7]:
users = list(set([x for x in sum_series.index.get_level_values(0)]))

In [8]:
len(users)

351

In [9]:
political_dict={}
for user in users:
    #create target series
    inner_dict = {}
    try:
        inner_dict['yang'] = sum_series[user]['YangForPresidentHQ']
    except:
        inner_dict['yang'] = 0
    try:
        inner_dict['bernie'] = sum_series[user]['SandersForPresident']
    except:
        inner_dict['bernie'] = 0
    try:
        inner_dict['bernie'] += sum_series[user]['wayofthebern']
    except:
        inner_dict['bernie'] += 0
    try:
        inner_dict['bernie'] += sum_series[user]['Political_Revolution']
    except:
        inner_dict['bernie'] += 0
    try:
        inner_dict['pete'] = sum_series[user]['Pete_Buttigieg']
    except:
        inner_dict['pete'] = 0
    try:
        inner_dict['kamala'] = sum_series[user]['Kamala']
    except:
        inner_dict['kamala'] = 0
    try:
        inner_dict['biden'] = sum_series[user]['JoeBiden']
    except:
        inner_dict['biden'] = 0
    try:
        inner_dict['warren'] = sum_series[user]['ElizabethWarren']
    except:
        inner_dict['warren'] = 0
    political_dict[user]=inner_dict

In [23]:
df_target = pd.DataFrame(political_dict).T

In [24]:
df_target.head(5)

               bernie  biden  kamala  pete  warren  yang
leperphilliac       0      0       0     0       1     0
lawrensj           41      0       0     0      30     0
callmekizzle       25      0       0     0      10     0
ZebraShark          1      0       0     0       1     0
Seahoarse127        0      0       0     0       2     0

In [25]:
## run up to here

In [26]:
def func(row):
    total = sum(row)
    if total < 5:
        return 'drop'
    if (row['bernie']/total >= .8) & (row['bernie']>=4):
        return 'bernie'
    if (row['biden']/total >= .8) & (row['biden']>=4):
        return 'biden'
    if (row['kamala']/total >= .8) & (row['kamala']>=4):
        return 'kamala'
    if (row['pete']/total >= .8) & (row['pete']>=4):
        return 'pete'
    if (row['yang']/total >= .8) & (row['yang']>=4):
        return 'yang'
    if (row['warren']/total >= .8) & (row['warren']>=4):
        return 'warren'
    return 'drop'

In [27]:
df_target['target'] = df_target.apply(func,axis=1)

In [28]:
df_target['target'].value_counts()

drop      181
warren    128
bernie     29
pete        8
yang        4
biden       1
Name: target, dtype: int64

In [16]:
df_target.drop(['bernie','biden','kamala','pete','yang'],axis=1,inplace=True)

In [17]:
df_target = df_target[df_target['target']!='drop']

In [18]:
df_target.head()

               target
ailish         bernie
smohqe         bernie
Jaysyn4Reddit  bernie
dezmodez         yang
hdkw836f         yang

In [19]:
y_train,y_test = train_test_split(df_target['target'],random_state=42,stratify = df_target['target'])

In [20]:
y_train.size

2024

In [21]:
y_test.size

675

In [23]:
pd.DataFrame(y_train).to_csv('y_all_train.csv')

In [24]:
pd.DataFrame(y_test).to_csv('y_all_test.csv')